;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[lilactown/hx "0.5.1"]
  [re-frame "0.10.6"]]

 :dev-http {3001 "public"}

 :builds
 {:run
  {:target :browser
   :modules {:main {:init-fn shared-state.app/init}}}}}
